body {font-family: 'Sintony', sans-serif; overflow-x: hidden}
h1 {font-size: 59px}
.bold {font-weight: bold}
hr {margin-left: 45%; margin-right: 45%; border-color: #cc0066}
.barra-navegacion {position: fixed; top: 0; z-index: 1000; width: 100%; background-color: rgba(255, 255, 255, 0.9)}
.barra-navegacion .container {display: flex}
.barra-navegacion .container > div {display: inline-block; vertical-align: top; flex: 1}
.barra-navegacion .barra-left {height: 50px}
.barra-navegacion .barra-left .img-brand {margin-top: -2.9em; height: 11em}
.barra-navegacion .barra-right {font-size: 19px}
.barra-navegacion ul {margin-bottom: 0; line-height: 50px; list-style-type: none}
.barra-navegacion ul li {display: inline-block; margin: 0 10px}
.barra-navegacion ul li a, .barra-navegacion ul li i {color: #616161}
.barra-navegacion ul li a {vertical-align: sub; font-weight: bold}
.barra-navegacion .menu-mobile {overflow: hidden}
.barra-navegacion .menu-mobile ul li {display: block}
.fixed-sliding-background {background-attachment: fixed; background-position: 50% 0px}
.sliding-background {background-attachment: static; background-position: 50% 0px}
#welcome {background-image: url("/assets/fondo-02.jpg"); color: white}
#welcome > div {height: 100%}
#welcome .logo-home {max-height: 90%; position: absolute; top: -100px; right: 0; left: 0; margin-left: auto; margin-right: auto}
#welcome .push-bottom {position: absolute; right: 0; left: 0; bottom: 0; padding-bottom: 15px}
#welcome hr {border-color: white}
#welcome .btn-primary {background-color: white; border-color: white; color: black}
#welcome .btn-primary:hover, #welcome .btn-primary:active, #welcome .btn-primary:focus, #welcome .btn-primary:active:focus {background-color: white; border-color: white; color: black}
#expertise {background-image: url("/assets/fondo-expertise.jpg"); color: black}
#expertise h1 {margin-top: 3em; margin-bottom: 1.5em}
#expertise .circular-img {text-align: center; height: 100px; width: 100px; margin: 0 auto 20px auto; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%}
#expertise .img-casa {background-image: url(/assets/logo-casa.png); background-size: 100px auto}
#expertise .img-cuidado-de-la-ropa {background-image: url(/assets/cuidado-de-la-ropa.png); background-size: 105px auto}
#expertise .img-personal {background-image: url(/assets/logo-personal.png); background-size: 100px auto}
#expertise .btn-primary {margin-top: 4em; margin-bottom: 6em; background-color: #cc0066; border-color: #cc0066; color: white; padding: .7em 3em}
#expertise .btn-primary:hover, #expertise .btn-primary:active, #expertise .btn-primary:focus, #expertise .btn-primary:active:focus {background-color: #cc0066; border-color: #cc0066; color: white}
#tipo-lavado {font-weight: bold; padding-top: 5em; padding-bottom: 2em}
#tipo-lavado .row {margin-top: 2em}
#tipo-lavado .subtitulo {font-size: 1.2em}
#tipo-lavado .descripcion-lavado {color: gray; font-size: 1em}
#ventas {color: white; background-image: url("/assets/fondo-ciudad.jpg")}
#ventas h2 {margin-top: 2em}
#ventas .row {margin-top: 4em; margin-bottom: 4em}
#ventas .btn-mayorista {margin-top: 4em; margin-bottom: 4em; background-color: #cc0066; border-color: #cc0066; color: white; padding: .7em 3em}
#ventas .btn-mayorista:hover, #ventas .btn-mayorista:active, #ventas .btn-mayorista:focus, #ventas .btn-mayorista:active:focus {background-color: #73264d; border-color: #73264d}
#ventas .btn-minorista {margin-top: 4em; margin-bottom: 4em; background-color: #0073e6; border-color: #0073e6; color: white; padding: .7em 3em}
#ventas .btn-minorista:hover, #ventas .btn-minorista:active, #ventas .btn-minorista:focus, #ventas .btn-minorista:active:focus {background-color: #003366; border-color: #003366}
#ventas .col-md-6, #ventas .col-xs-12 {background-color: none}
#ventas .col-md-6 .col-md-12, #ventas .col-md-6 .col-xs-12, #ventas .col-xs-12 .col-md-12, #ventas .col-xs-12 .col-xs-12 {background-color: rgba(255, 255, 255, 0.5)}
#valores .subtitulo {font-weight: bold; color: #cc0066}
#valores .content {color: gray; font-weight: bold; margin-bottom: 2em}
#valores .foto-producto {height: 740px}
@media (max-width: 991px) {#valores .foto-producto {width: 100%; height: 100%}
}
#mision {padding-top: 1em; padding-bottom: 1em; font-size: 1.5em; background-color: #cc0066; color: white}
#mision hr {margin-right: 48%; margin-left: 48%; border-color: #003366}
#contacto {color: white; background-image: url("/assets/fondo-contacto.jpg")}
#contacto h1 {margin-top: 2em; margin-bottom: 2em}
#contacto form {height: 453px}
#contacto .field {width: 100%}
#contacto .field input, #contacto .field textarea {background-color: #333333; border-style: none; width: 100%; margin-bottom: 1em; padding: 0.5em 1em; color: white}
#contacto .field textarea {height: 15em; resize: none}
#contacto .field ::-webkit-input-placeholder {font-weight: bold; color: white}
#contacto .field :-moz-placeholder {font-weight: bold; color: white}
#contacto .field ::-moz-placeholder {font-weight: bold; color: white}
#contacto .field :-ms-input-placeholder {font-weight: bold; color: white}
#contacto .message {background-color: rgba(255, 255, 255, 0.7); padding: 10px}
#contacto .actions {width: 200px; height: 80px}
#contacto .btn-primary {margin-top: 1em; background-color: #cc0066; border-color: #cc0066; color: white; padding: .5em 4em; width: 100%}
#contacto .btn-primary:hover, #contacto .btn-primary:active, #contacto .btn-primary:focus, #contacto .btn-primary:active:focus {background-color: #cc0066; border-color: #cc0066; color: white}
footer {background-color: #1f004d; color: white}
footer a {color: #777}
@media (max-width: 768px) {#contacto .actions {width: 100%}
#contacto .col-xs-12 .content br {display: none}
#ventas .col-xs-12 {margin-bottom: 1em}
#tipo-lavado .col-xs-9 {padding-left: 2em}
footer .col-xs-2 {padding-left: 0}
}
.modal-body {height: 400px}