form#new_message.new_message accept-charset="UTF-8" action="/messages" method="post" 
  .field
    input#message_name name="message[name]" placeholder=("Introduce tu nombre") type="text"
  .field
    input#message_email name="message[email]" placeholder=("Introduce tu mail") type="email"
  .field
    input#message_tel name="message[tel]" placeholder=("Introduce tu teléfono") type="text"
  .field
    textarea#message_content name="message[content]" placeholder=("Escribe tu mensaje") 
  .text-left
    .actions
      input#submit-contact.btn.btn-primary data-disable-with="Enviar" name="commit" type="submit" value="ENVIAR"
