
<form class="new_message" id="new_message" action="/messages" accept-charset="UTF-8" method="post">
  <div class="field">
    <input placeholder="Introduce tu nombre" type="text" name="message[name]" id="message_name" />
  </div>
  <div class="field">
    <input placeholder="Introduce tu mail" type="email" name="message[email]" id="message_email" />
  </div>
  <div class="field">
    <input placeholder="Introduce tu teléfono" type="text" name="message[tel]" id="message_tel" />
  </div>
  <div class="field">
    <textarea placeholder="Escribe tu mensaje" name="message[content]" id="message_content"></textarea>
  </div>
  <div class=" text-left">
    <div class="actions">
      <input type="submit" name="commit" value="ENVIAR" class="btn btn-primary" id="submit-contact" data-disable-with="Enviar" />
    </div>
  </div>
</form>
