section.sliding-background#welcome
  .text-center.fadeIn style="opacity: .3"
    = image "logo-home.png", class: "img-responsive logo-home"
    .push-bottom
      h1.bold Nuevo
      hr
      a.btn.btn-primary href="#expertise"
        | Conocenos
section.sliding-background#expertise style="padding-top: 60px"
  .container
    .row.text-center
      h2 10 AÑOS DE EXPERIENCIA EN PRODUCTOS QUÍMICOS
      .col-md-4.col-xs-12
        .circular-img.img-casa
        | Limpieza del hogar
      .col-md-4.col-xs-12
        .circular-img.img-farmacia
        | Industria farmacéutica
      .col-md-4.col-xs-12
        .circular-img.img-personal
        | Cuidado personal
    .text-center
      a.btn.btn-primary href="#contacto"
        | Contactanos
section#tipo-lavado
  .container
    .row
      .col-md-6.col-xs-12.text-center
        h2 TIPOS DE LAVADO
        hr
        p.descripcion-lavado style="color:inherit" Jabón líquido
        .row
          .col-xs-3
            = image "001_-lavado-normal.png"
          .col-xs-9.text-left
            p.subtitulo LAVADO NORMAL:
            p.descripcion-lavado Mida 100 ml (equivale aproximadamente a media taza de té).
        .row
          .col-xs-3
            = image "002_ropa-sucia.png"
          .col-xs-9.text-left
            p.subtitulo ROPA MUY SUCIA:
            p.descripcion-lavado Mida 150 ml.
        .row
          .col-xs-3
            = image "003_dificiles.png"
          .col-xs-9.text-left
            p.subtitulo DIFICÍLES:
            p.descripcion-lavado
              | De la medida seleccionada, aplique una pequeña cantidad de Jabón líquido PERVAL directamente sobre la mancha y frote.
              | Vierta el resto de la medida en el lavarropas.
        .row
          .col-xs-3
            = image "004_lavado-a-mano.png"
          .col-xs-9.text-left
            p.subtitulo LAVADO A MANO:
            p.descripcion-lavado Coloque en un balde 100 ml de Jabón líquido PERVAL para diez litros de agua y disuelva completamente.
      .col-md-6.col-xs-12
        = image "producto.png", style: "float:left;position:absolute;max-height:100%; "
        = image "lavarropas.png", style:"float:right; margin-top: 12em;"
section.sliding-background#ventas data-offset="200"
  .container.text-center
    h2 VENTAS
    hr
    .row
      .col-md-6.col-xs-12.text-center
        .col-md-12.col-xs-12
          button.btn.btn-mayorista data-toggle="modal" data-target="#mayoristas"
            | MAYORISTAS
      .col-md-6.col-xs-12.text-center
        .col-md-12.col-xs-12
          button.btn.btn-minorista data-toggle="modal" data-target="#minoristas"
            | MINORISTAS
section#valores
  .container
    .row
      .col-md-6.col-xs-12.col-text.text-left
        h2 align="center"  NUESTROS VALORES
        hr
        p.subtitulo · VÍNCULOS HUMANOS:
        p.content Estamos convencidos de que todo crecimiento sólo es posible mediante los vínculos. Por eso, promovemos un clima colaborativo y de cercanía entre quienes trabajan en la empresa y con la comunidad en la quedesarrollan su vida cotidiana.
        p.subtitulo · FAMILIARIDAD Y COMPROMISO:
        p.content Somos una compañía cercana y comprometida con toda la cadenade valor que va desde proveedores y colaboradores hasta clientes y consumidores.
        p.subtitulo · INTEGRIDAD:
        p.content Nos interesa generar resultados solo a través de una conductatransparente, coherente y responsable.
        p.subtitulo · CULTURA INTERNA DE EMPRENDEDORES:
        p.content Valoramos el trabajo en equipo como pilar de crecimiento, y el conocimiento e intuición obtenidas a través de la experiencia.
        p.subtitulo · CREATIVIDAD E INNOVACIÓN:
        p.content Buscamos soluciones técnicas innovadoras para poder ofrecerproductos que cubran las distintas necesitadas de las personas.
        p.subtitulo · EXPERIENCIA:
        p.content Contamos con más de 10 años de experiencia desarrollando productos químicos de excelente calidad.
      .col-md-6.col-xs-12
        = image "foto_producto.jpg", style: "width:100%;height:100%;"
section#mision
  .text-center
    p
      | DESARROLLAR PRODUCTOS QUÍMICOS QUE MEJOREN LA VIDA DE LAS PERSONAS,
      br
      | CUBRIENDO SUS NECESIDADES DE CALIDAD A COSTOS ACCESIBLES.
    hr
    p.bold
      | MISIÓN
section.sliding-background#contacto data-offset="480"
  .container
    .row.text-center
      .col-md-6.col-xs-12
        h2 CONTACTO
        = render template: 'home/contact_form'
      .col-md-6.col-xs-12
        h2 NUESTRA VISIÓN
        p.content
          | SER UNA EMPRESA REFERENTE EN EL MERCADO
          br
          | DE PRODUCTOS QUÍMICOS DE EXCELENTE CALIDAD.
footer
  .container
    .text-center
      a href="#welcome"
        = image "logo-pie.png"
    .row
      .col-xs-2
        = image "logo_vsl.png"
      .col-xs-8.text-center
        p style="font-size:0.9em" 
          | &copy; 2017 - PERVAL - TODOS LOS DERECHOS RESERVADOS. | VENTAS@PERVAL.COM.AR |
          br
          | Tel.: 4844 3288 // 2047 4660
      .col-xs-2
        = image "logo_face.png"

.modal.fade#mayoristas tabindex="-1" role="dialog"
  .modal-dialog role="document"
    .modal-content
      .modal-body
.modal.fade#minoristas tabindex="-1" role="dialog"
  .modal-dialog role="document"
    .modal-content
      .modal-body
