<section id="welcome">
  <div class="container-home">
    <div class="text-center">

      <%= image "logo-home.png", class: "logo-home" %>
      <h2>Nuevo</h2>
      <hr>
      <button class="btn btn-primary">
          Conocenos
      </button>
    </div>
  </div>
</section>