$main-pink: #cc0066;

body {
  font-family: 'Sintony', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 59px;
}

.bold {
  font-weight: bold;
}

hr { 
  margin-left: 45%;
  margin-right: 45%;
  border-color: $main-pink;
}

.barra-navegacion {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255,0.9);
  .container {
    display: flex;

    > div {
      display: inline-block;
      vertical-align: top;
      flex: 1;
    }
  }
  .barra-left {
    height: 50px;

    .img-brand {
      margin-top: -2.9em;
      height: 11em;
    }
  }
  .barra-right {
    font-size: 19px;
  }
  ul {
    margin-bottom: 0;
    line-height: 50px;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 10px;

      a, i {
        color: #616161;
      }
      a {
        vertical-align: sub;
        font-weight: bold;
      }
    }
  }
}

.fixed-sliding-background {
  background-attachment: fixed;
  background-position: 50% 0px;
}
.sliding-background {
  background-attachment: static;
  background-position: 50% 0px;
}

#welcome {
  background-image: url('/assets/fondo-02.jpg'); 
  color: white;
  > div {
    height: 100%;
  }
  .logo-home {
    max-height: 90%;
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .push-bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
  }
  hr {
    border-color:white;
  }
  .btn-primary {
    background-color: white;
    border-color: white;
    color:black;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: white;
    border-color: white;
    color:black;
  }
 
}

#expertise {
  background-image: url('/assets/fondo-expertise.jpg');
  color: black;
  
  h1 {
    margin-top: 3em;
    margin-bottom: 1.5em;
  }
  
  .circular-img {
    text-align: center;
    height:100px;
    width:100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    -webkit-border-radius:  50%;
    -moz-border-radius:  50%;   
  }

  .img-casa {
    background-image: url(/assets/logo-casa.png); 
    background-size: 100px auto;
  }

  .img-farmacia {
    background-image: url(/assets/logo-farmacia.png); 
    background-size: 100px auto;
  }

  .img-personal {
    background-image: url(/assets/logo-personal.png); 
    background-size: 100px auto;
  }
  .btn-primary {
    margin-top:4em;
    margin-bottom: 6em;
    background-color: $main-pink;
    border-color: $main-pink;
    color:white;
    padding: .7em 3em;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: $main-pink;
    border-color: $main-pink;
    color:white;
  }
}

#tipo-lavado {
  font-weight: bold;
  padding-top:5em; 
  padding-bottom: 2em;
  .row {
    margin-top:2em;
  }
  .subtitulo {
    font-size: 1.2em;
  }
  .descripcion-lavado {
    color:gray;
    font-size:1em;
  }
}

#ventas {
  color:white;
  background-image: url('/assets/fondo-ciudad.jpg');
  h2 {
    margin-top: 2em;
  }
  .row {
    margin-top:4em;
    margin-bottom: 4em;
  }
  .btn-mayorista {
    margin-top:4em;
    margin-bottom: 4em;
    background-color: $main-pink;
    border-color: $main-pink;
    color:white;
    padding: .7em 3em;
  }
  .btn-mayorista:hover, .btn-mayorista:active, .btn-mayorista:focus, .btn-mayorista:active:focus {
    background-color: #73264d;
    border-color: #73264d;
  }
  .btn-minorista {
    margin-top:4em;
    margin-bottom: 4em;
    background-color: #0073e6;
    border-color: #0073e6;
    color:white;
    padding: .7em 3em;
  }
  .btn-minorista:hover, .btn-minorista:active, .btn-minorista:focus, .btn-minorista:active:focus {
    background-color: #003366;
    border-color: #003366;
  }
  .col-md-6,.col-xs-12 {
    background-color: none;
    .col-md-12,.col-xs-12 { 
      background-color: rgba(255,255,255,0.5);
    }
  }
}

#valores {
  .subtitulo {
    font-weight: bold;
    color: $main-pink;
  }
  .content {
    color:gray;
    font-weight: bold;
    margin-bottom: 2em;
  }
  .col-text {
    padding-left:20%;
  }
}

#mision {
  padding-top:1em;
  padding-bottom: 1em;
  font-size: 1.5em;
  background-color: $main-pink;
  color: white;
  hr {
    margin-right: 48%;
    margin-left: 48%;
    border-color: #003366;
  }
}

#contacto {
  color:white;
  background-image: url('/assets/fondo-contacto.jpg');
  // padding-bottom: 3em;
  h1 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  form {
    height: 453px;
  }
  .field {
    width:100%;
    input,textarea {
      background-color: #333333;
      border-style: none;
      width:100%;
      margin-bottom: 1em;
      padding: 0.5em 1em;
      color:white;
    }
    textarea {
      height: 15em;
      resize: none;
    }
    ::-webkit-input-placeholder {
       font-weight: bold;
       color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
       font-weight: bold;
       color: white;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       font-weight: bold;
       color: white;
    }
    :-ms-input-placeholder {  
       font-weight: bold;
       color: white;
    }
  }
  .message {
    background-color: rgba(255, 255, 255, .7);
    padding: 10px;
  }
  .actions {
    width: 200px;
    height: 80px;
  }
  .btn-primary {
    margin-top:1em;
    background-color: $main-pink;
    border-color: $main-pink;
    color:white;
    padding: .5em 4em;
    width: 100%;
  }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    background-color: $main-pink;
    border-color: $main-pink;
    color:white;
  }
}


footer {
  background-color: #1f004d;
  color:white;
}

@media (max-width:768px) {
  #valores {
    .col-text {
      padding-left: 25px;
    }
  }
}



.modal-body {
  height: 400px;
}